@using LibTimeCreator;
@using LibInfoBook;
@model Tuple<LibTimeInfo, InfoBook>

@{
    ViewData["Title"] = "GenerateCode";
    var infoTime = Model.Item1;
    var infoBook = Model.Item2;
}

<h2>GenerateCode</h2>

<div>
    <h4>InfoBook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @infoBook.Id
        </dd>
        <dt>
            Title
        </dt>
        <dd>
            @infoBook.Title
        </dd>
        <dt>
            Autor
        </dt>
        <dd>
            @infoBook.Creator
        </dd>
        <dt>
            Data curenta:
        </dt>
        <dd>
            @DateTime.UtcNow.ToString("dd MM yyyy HH:mm:ss")
        </dd>
        <dt>
            Linkul e valabil pina la
        </dt>
        <dd>
            @infoTime.MaxDate.ToString("dd MM yyyy HH:mm:ss")
        </dd>
        <dd>
            <a href="#" onclick="javascript:seebook()">See book</a>
        </dd>

    </dl>
</div>
<div>

</div>
@section Scripts{
    <script>

        function seebook() {
            window.open("/home/book/" + '@infoTime.Generate()');
            
                }
    </script>
}