@model IEnumerable<LibQRDAL.Models.Book>
@{
    ViewData["Title"] = "Home Page";
    string jsQR = "";
}


<div class="row">
    <div class="col-md-6">
        <h2>QR BOOK</h2>

        Lista cartilor :
        <table class="table">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Creator)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Creator)
                        </td>
                        <td>
                            @{
                                var linkBook = $"http://fsq.apphb.com/home/Allbook/{item.UniqueLink}";
                                var divId = $"div{item.UniqueLink}";
                                jsQR += $"GenerateQRCode('{divId}','{linkBook}');{Environment.NewLine}";
                            }
                            <div id="@divId"></div>

                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
    @*
        <div class="col-md-6">
            <h2>Old Generate Code</h2>

            <form method="get" asp-action="GenerateCode">
                Code:
                <input id="id" name="id" type="text" value="88046" />
                Minutes :
                <input id="minutes" name ="minutes" type="text" value="3" />
                <input type="submit" value="Generate!" />
            </form>

        </div>
    *@

</div>
@section Scripts{
    <script src="~/js/qrcode.min.js"></script>

    <script>
        function GenerateQRCode(divId, link) {

            var qrcode = new QRCode(divId, {
                text: link,
                width: 128,
                height: 128,
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
            });

        }
        @Html.Raw(jsQR);
    </script>
}